<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myseboadminstaff">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySEBOAdminStaff">
        <activity
            android:name=".ReturnActivity"
            android:exported="true" />
        <activity
            android:name=".PickUpActivity"
            android:exported="true" />
        <activity
            android:name=".ReturnOutActivity"
            android:exported="true" />
        <activity
            android:name=".reservation.ReservationDetailActivity"
            android:exported="true" />
        <activity
            android:name=".asset.EditAssetActivity"
            android:exported="true" />
        <activity
            android:name=".asset.AddAssetActivity"
            android:exported="true" />
        <activity
            android:name=".asset.AssetActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ReportActivity"
            android:exported="true" />
        <activity
            android:name=".reservation.ListReservationActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>